html {
  /* background-image: url(/assets/background4.jpg);
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    cursor: url(../Explicar_Con_Datos_tp2/assets/cohete.png), auto;
   
}